.fc-event {
  height: 24px !important;
}

.fc{
  width: 100% !important;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.fc-today {
  background: #f8f9fa !important;
}

.modal {
  top: 10vh;
}

.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 3px;
  font-size: 1em;
  overflow: hidden;
}

.content-table thead tr {
  background-color: #9368E9;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content-table th, .content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #9368E9;
}

.content-table tbody tr.active-row {
  font-weight: bold;
  color: #9368E9;
}

.names a {
  color: #9368E9;
  font-weight: 600;
}

.names a:hover {
  color: #9368e9c7;
  font-weight: 600;
}

/*index page*/

.headerFirst {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.mainheader {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mainheader .logo a {
  font-size: 1.5rem;
  padding-left: 60px;
  color: #9368E9;
}

.menubtn {
  margin-right: 60px;
  outline: none;
}

.mainheader button {
  padding: 10px 45px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  border: none;
  background: #9368E9;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
}

.mainheader button:hover {
  background: #9368e9c4;
}

.mainFisrt {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mainFisrt .right {
  padding-right: 70px;
}

.mainFisrt .left {
  padding-left: 100px;
}

.right{
  margin-top: 50px;
}

.left h3 {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: lighter;
  color: #242424;
}

.left h1 {
  font-size: 55px;
  text-transform: capitalize;
  font-weight: 700;
  margin: 15px 0;
}

.left p {
  margin-bottom: 20px;
}

.left button {
  padding: 15px 45px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  background: #9368E9;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

@media only screen and (max-width: 778px){
  .mainheader .logo{
    display: none;
  }
  .mainheader {
    justify-content: center;
  }
  .right{
    display: none;
  }
} 